/* .footer_container {
  width: 100%;
} */

/* .Navbar {
  position: relative;
  min-height: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: #00303f;
  color: #f5f4f4;
  display: inline;
  justify-content: stretch;
  align-items: center;
  cursor: default;
  display: flex;
  flex-direction: column;
} */

/* background-color: white;
  background-color: #00303f;
  color: #f5f4f4; 
  opacity: 0.5; */

/* Height of footer is set to 2.5rem
-> this is arbitrary to the height of the content-wrap padding-bottom: 2.5rem
so both needs to be changed accordingly */

#footer {
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  margin-top: -2.5rem;
  width: 100%;
  background-size: cover;
  background-color: transparent;
  color: #00303f;
}

.footer-column {
  width: 100%;
  flex-direction: column;
  text-align: right;
  padding: 0 2rem 0 2rem;
}

.disclaimer-copyright {
  display: inline-flex;
  /* flex-direction: row; */
  justify-content: space-between;
}

/* .disclaimer {
  display: inline-flex;
  justify-content: space-between;
}

.copyright {
  display: inline-flex;
  justify-content: space-between;
} */
